.aboutme{
    transition: all .5s;
    width: 100%;
}

.aboutme-container{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hide {
    opacity:0;
}

.show {
    opacity:1;
}

.aboutme-pic{
    height: 350px;
    border-radius: 600px;
}

.caption{
    justify-content: center;
    text-align: center;
    width: 50%;
    padding-top: 50px;
    color: #00333f;
}

.caption p{
    margin: 0;
}
.caption-text{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 24px;
}