*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer{
    display: flex;
    width: 100%;
    padding: 50px 0px;
    background-color:#00333f;
    justify-content: center;
    
}

ul{
    list-style: none;
    padding: 0;
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.footer-col{
    margin: 0 100px;
    text-align: left;
    width: 245.46px;
}

.footer-col h2{
    text-transform: capitalize;
    color: #F6F6F6;
    margin-bottom: 20px;
    position: relative;
}

.footer-col h2::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #D9B08C;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;

}

.footer-col ul li h3{
    color: #F6F6F6;
    font-size: 20px;
    width:fit-content;
    text-decoration: none;
    display: block; 
    transition: 0.2s ease;
}

.footer-col ul li h3:hover{
    color: #D9B08C;
    padding-left: 10px;
}

.footer-col .footer-social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #F6F6F6;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 0.5s ease;
}

.footer-col ul i{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #F6F6F6;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 0.5s ease;
}

.footer-col ul i:hover{
    color: #24262b;
    background-color: #D9B08C;;
}

.footer-col .footer-social-links a:hover{
    color: #24262b;
    background-color: #D9B08C;;

}

@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px){
    .footer-col{
        width: 100%;

    }
}

#email{
    font-size: 16px;
}

