.Highlights{
    color: #00333f;
    padding: 25px 50px;
    text-align: center;
    /*background-image: url("http://localhost:3000/images/DivBgs/2-01.png");*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    animation: appear 1s ease 10s 1;
    transition: all .5s;
}

.hide {
    opacity:0;
   
}

.show {
    opacity:1;
}

.highlights-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row{
    align-items: center;
    justify-items: center;
}


@keyframes appear{
    from{
        opacity:0;
        margin-top: 30px;
    }
    to{
        opacity: 1;
        margin-top: 0px;
    }
}