.MainSection img{
    height: 800px;
    width: 100%;
    background-image: url("http://localhost:3000/images/3.png");
    background-repeat: no-repeat;
    background-size: auto;

}

.main-caption{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    top: 600px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
    color:aliceblue;
}

.main-caption h1{
    color: yellow;
}

.main-caption:hover{
    
}

.Software{
    position: absolute;
    top: 0;
    left: 150px;
    top: 600px;
}

.Graphics{
    position: absolute;
    top: 0;
    right: 150px;
    top: 600px;
}