.Project{
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items:center ;
    justify-items: center;
    margin-bottom: 2px;
    transition: all 0.5s ease-out;
    background-position: center;
}

.Project-Description-Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
    color: aliceblue;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.Project-Description-Container h1{
    color: rgb(255, 180, 0);
    font-size: 4rem;
    line-height: 6rem;
    margin-bottom: 25px;
}

.Project-Description-Container h4{
    margin-bottom: 20px;
    max-width: 1000px;
}

.Project-Description-Container h5{
    margin-bottom: 16px;
}

.Buttons{
    text-shadow: none;
    display: flex;
    align-items: center;
    justify-items: center;
}

.Buttons .btn{
    margin: 0 50px;
    border-radius: 5px;
}